version: '3.9'

services:
  app:
    build: .
    environment:
      NODE_ENV: production
    env_file:
      - .env.production
    container_name: yettel_test
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env.production
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: